<div #mapa2 class="mapa-container">
    <div class="row">
        <div class="col-12">
            <label class="form-label">zoom :{{zoomlevel | number:'2.0-2'}} -lng,lat :[{{center[0] | number:'2.4-4'}},{{center[1]| number:'2.4-4'}}]</label>
        </div>
        <input type="range" 
               class="form-range" 
               id="customRange1"
               [value]="zoomlevel"
               min="0"
               max="18"
               (input)="zoomCmabio(zoomInput.value)"
               #zoomInput>
        <div class="col-12">
            <button class="btn btn-primary"
                    (click)="zoomOut()">-</button>
            <button class="btn btn-primary float-end"
                    (click)="zoomIn()">+</button>
        </div>
    </div>
   
</div>